* {
    box-sizing: border-box;
    font-family: 'Quela', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/background/background_gallery.jpeg);
    background-position: top;
    background-size: 400px;
    background-repeat: repeat repeat;
    padding: 0;
    margin: 0;
}

/*  1st part */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.503);
    padding: 0 1%;
    margin: 0 0 5% 0;
}

.header_left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header_left span {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 300%;
    font-weight: bolder;
}

.header_left span:hover {
    color: rgba(255, 255, 255, 0.775);
    text-shadow: 2px 2px rgb(255, 0, 0);
}

.header_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.header_right a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.729);
    font-size: 120%;
    font-weight: bold;
}

.header_right a:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
    transform: scale(1.1);
}

.header_icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header_icons img {
    cursor: pointer;
    height: 30px;
}

.header_icons img:hover {
    transform: scale(1.2);
}

/* logo section */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1%;
    margin: 0;
}

.logo img {
    height: 200px;
}

.logo img:hover {
    transform: scale(1.1);
}

/* 2nd part */
.gallery {
    display: flex;
    flex-direction: column;
    padding: 0 1%;
    gap: 10px;
}

.gallery_of_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 100px;
}

.gallery_of_three img {
    object-fit: cover;
    width: 450px;
    height: 300px;
    border: solid 1px #CCC
}

/* 3rd part */
.poster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    margin-top: 100px;
}

.poster img {
    width: 300px;
    height: 500px;
    border: solid 1px #CCC
}

/* refrence avaliable in readme file */
.rotate_gallery {
    align-self: center;
    width: 24.9vw;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }

    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.rotate_gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(30vw);
}

.rotate_gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0 1%;
    margin: 5% 0 0 0;
}

.footer footer {
    color: rgba(255, 255, 255, 0.7);
    font-size: 120%;
    font-weight: bold;
}